<!-- Main Area -->
<main>
    <section id="background">
        <div class="background-images"
             style="background-image:url(/assets/images/forgot-password/forgot-password-backgorund-image.jpg)">
            <h2>Forgot Password</h2>
        </div>
    </section>
    <section id="forgot-password-form">
        <div class="container">
            <div class="login">
                <h2>Forgot Password</h2>
            </div>
            <div class="email-label">
                <label for="">Email *</label>
            </div>
            <div class="email-input">
                <input type="email">
            </div>

            <div class="send-button">
                <button>Send</button>
            </div>

        </div>
    </section>
</main>
<!-- Main Area -->

