@model ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
}

<div class="login-register-area section-space-y-axis-100">
    <section id="background">
        <div class="login-background-images"
             style="background-image:url(/assets/images/login/login-backgorund-image.jpg)">
            <h2>New Password</h2>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-danger mb-2" asp-validation-summary="All"></div>
                <form method="post" asp-controller="Account" asp-action="ResetPassword">
                    <div class="login-formm" style="position:relative;left:300px">
                        <h4 class="login-title">New Password</h4>

                        <div class="row">
                            <label>Password</label>
                            <div class="col-lg-12 mt-2 d-flex confirm-password-input">
                                <input asp-for="Password" style="width:100%;height:50px;outline:none;padding-left: 15px;caret-color: rgb(241, 6, 6);" />
                                <span class="text-danger" asp-validation-for="Password"></span>
                                <i class="fa-regular fa-eye eyes" style="margin-left: -30px;font-size: 20px;margin-top: 15px;cursor:pointer;"></i>
                            </div>

                            <label>Repeat Password</label>
                            <div class="col-lg-12 d-flex confirm-password-input">
                                <input asp-for="ConfirmPassword" style="width:100%;height:50px;outline:none;padding-left: 15px;caret-color: rgb(241, 6, 6);" />
                                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                                <i class="fa-regular fa-eye eyes" style="margin-left: -30px;font-size: 20px;margin-top: 15px;cursor:pointer;"></i>
                            </div>

                            <div class="col-lg-12 pt-5 mt-2">
                                <button type="submit" class="btn btn-custom-size lg-size btn-pronia-primary" style="width: 130px;height: 50px;background-color: #d14031;color: white;border: none;    font-family: initial;border-radius:0;margin-top:-40px;">
                                    Send
                                </button>
                            </div>
                            <input type="hidden" asp-for="Token" value="@Model.Token" />
                            <input type="hidden" asp-for="UserId" value="@Model.UserId" />

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/assets/js/register.js"></script>
}



